################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
# +++ Terraform related ignore files are added here with the default one
################################################################################
.terraform
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars
.terraform.lock.hcl
plan.json
tfplan.binary